@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@keyframes move-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@keyframes slideTop {
  0% {
      opacity: 0;
      transform: translateY(80px);
  }

  100% {
      opacity: 100%;
      transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
      opacity: 0;
      transform: translateX(-80px);
  }

  100% {
      opacity: 100%;
      transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
      opacity: 0;
      transform: translateX(80px);
  }

  100% {
      opacity: 100%;
      transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

:root {
  --primary-color: #ffffff;
  --primary-color-dark: #ffffff;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #699ed3;
  padding-top: 0px;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: 30px;
  background-position: 30px;
}

/* Style the header links */
.header a.lg {
  margin-left: 12%;
  color: white;
  font-weight: 500;
  white-space: nowrap;
}

.header a.ji {
  text-decoration: underline;
  margin-left: 2%;
  color: white;
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .header {
    background-image: none;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
    justify-content: space-between;
  }
  .header a.lg {
    margin-left: 2%;
    white-space: unset;
  }
  .header a.ji {
    white-space: unset;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1030;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .logo a {
  animation: fadeIn 1s;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}
.nav .logo a:hover {
  color: #6b7280;
}

.nav .checkbox {
  display: none;
}

.nav input {
  display: none;
}
.nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  opacity: 0; 
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  color: #ffffff
}

.section {
    background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.jpg') center center no-repeat;
    background-size: cover;
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1rem;
}


.title {
  opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title span {
  font-weight: 600;
  text-align: center;
  white-space: pre-wrap;
}

.description {
  opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
  line-height: 1.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.description2 {
  opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
  line-height: 1.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.action__btns {
  opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.phduy {
  background-size: 100%;
  background-color: #000000;
  background-image: linear-gradient(to left, rgba(146, 146, 146, 0.52), rgba(167, 42, 42, 0.73)),url('https://nhansp.github.io/phduy/home.jpg');
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.phduy:hover {
  background-color: #000000;
  background-image: url('https://nhansp.github.io/phduy/home.jpg');
  background-size: 100%;
  color: rgba(255, 99, 99, 0.73);
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.mquan {
  background-size: 100%;
  background-color: #000000;
  background-image: linear-gradient(to right, rgba(146, 146, 146, 0.52),rgba(171,205,239,1.000)),url('https://nhansp.github.io/mquan/assets/profile-pic.png');
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.mquan:hover {
  background-color: #000000;
  background-image: url('https://nhansp.github.io/mquan/assets/profile-pic.png');
  background-size: 100%;
  color: rgba(0, 195, 255, 0.73);
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.image {
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: .5s;
  display: none;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  height: min(25rem, 90%);
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.prv {
  background: linear-gradient(to left, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73));
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.nxt {
  background: linear-gradient(to right, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73));
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.prv:hover {
  background: none;
}

.nxt:hover {
  background: none;
}

.animated_slideLeft {
  animation-name: slideLeft;
  animation-duration: .5s;
}

.animated_slideRight {
  animation-name: slideRight;
  animation-duration: .5s;
}

.section2 {
  background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/finalize.jpg') center center no-repeat;
    background-size: cover;
}

.section2_container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  gap: 4rem;
} 

.content2_title {
  justify-content: space-between;
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.content2 {
  justify-content: center;
}

.video {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

@media (width < 1401px) {
  .section {
    background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.jpg') center center no-repeat;
    background-size: cover;
  }
  
}


@media (width < 1149px) {
  .section {
    background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.jpg') center center no-repeat;
    background-size: cover;
  }
}

@media (width < 801px) {
  .header {
    background-position: right;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
    justify-content: space-between;
  }
  .header a.lg {
    margin-left: 2%;
    white-space: unset;
  }
  .header a.ji {
    white-space: unset;
  }
}

@media (width < 750px) {
  .header {
    background-position: right;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
    justify-content: space-between;
  }
  .header a.lg {
    margin-left: 2%;
    white-space: unset;
  }
  .header a.ji {
    white-space: unset;
  }
  .nav .checkbox {
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    display: block;
  }

  .section {
    background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.jpg') center center no-repeat;
    background-size: cover;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(150vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
  
}

@media (height < 431px) {
  .checkbox .checkbox {
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    display: block;
  }

  .section {
    background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.jpg') center center no-repeat;
    background-size: cover;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(150vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .giterror {
    margin-top: 45%;
    margin-left: 42%;
  }
}

@media screen and (max-width: 500px) {
  .giterror {
    margin-top: 65%;
    margin-left: 42%;
  }
}